@using BlazorComponentUtilities
@using NoBullshitTimer.Client.Application
@using NoBullshitTimer.Client.Components
@using NoBullshitTimer.Client.Domain
@using NoBullshitTimer.Client.UI.Components.Generic

<div class="@ClassToRender" @onclick="SelectWorkout">
    <span class="ml-4">@Workout.Name</span>
    <div>
        <Button @onclick:stopPropagation OnButtonClick="MoveWorkoutUp">
            <Icon Type="IconType.Up"></Icon>
        </Button>
        <Button @onclick:stopPropagation OnButtonClick="MoveWorkoutDown">
            <Icon Type="IconType.Down"></Icon>
        </Button>
        <ContextMenu>
            <ContextMenuItem OnClick="() => OnEditClick.InvokeAsync()">
                <span class="mr-2">
                    <Icon Type="IconType.Edit"></Icon>
                </span>
                <p>Edit</p>
            </ContextMenuItem>

            <ContextMenuItem>
                <span class="mr-2">
                    <Icon Type="IconType.Duplicate"></Icon>
                </span>
                <p>Duplicate</p>
            </ContextMenuItem>

            <ContextMenuItem>
                <span class="mr-2">
                    <Icon Type="IconType.Save"></Icon>
                </span>
                <p>Save as Preset</p>
            </ContextMenuItem>

            <ContextMenuItem>
                <span class="mr-2">
                    <Icon Type="IconType.X"></Icon>
                </span>
                <p>Delete</p>
            </ContextMenuItem>
        </ContextMenu>
    </div>
</div>

@inject IWorkoutStore WorkoutStore

@code {
    [Parameter] public Workout Workout { get; set; } = null!;

    [Parameter] public EventCallback OnEditClick { get; set; }

    private bool IsSelectedWorkout => Workout == WorkoutStore.SelectedWorkout;

    private string ClassToRender { get; set; } = "";


    protected override void OnParametersSet()
    {
        UpdateCssClasses();
        WorkoutStore.OnWorkoutStoreStateChanged += UpdateCssClasses;
    }

    private void UpdateCssClasses()
    {
        ClassToRender = new CssBuilder()
            .AddClass("flex flex-row justify-between items-center p-2 m-1 rounded-md bg-zinc-800")
            .AddClass("border border-red-700", IsSelectedWorkout)
            .Build();
        StateHasChanged();
    }

    private void SelectWorkout(MouseEventArgs args)
    {
        WorkoutStore.SelectedWorkout = Workout;
    }

    private void MoveWorkoutUp()
    {
        Console.WriteLine("move workout up");
        WorkoutStore.MoveWorkoutUp(Workout);
    }

    private void MoveWorkoutDown()
    {
        Console.WriteLine("move workout down");
        WorkoutStore.MoveWorkoutDown(Workout);
    }
}