@using NoBullshitTimer.Client.Application
@using NoBullshitTimer.Client.Components
@using NoBullshitTimer.Client.Domain
@using NoBullshitTimer.Client.UI.Components.Generic

<div>
    <h1 class="text-2xl pb-5">Manage Workouts</h1>
    <div class="flex flex-col">
        @foreach (var workout in WorkoutStore.AllWorkouts)
        {
            <WorkoutCard
                Workout="workout"
                OnEditClick="() => HandleOnEditClick(workout)"
            ></WorkoutCard>
        }
        <Button Classes="self-center">
            <Icon Type="IconType.Add"></Icon>
        </Button>
    </div>

</div>
<Modal @bind-IsVisible="ShowEditWorkoutModal" Title="Edit Current Workout">
    <WorkoutEditor CloseWorkoutEditor="() => ShowEditWorkoutModal = false"></WorkoutEditor>
</Modal>


@inject IntervalTimer Timer
@inject IWorkoutRepository WorkoutRepository
@inject IWorkoutStore WorkoutStore

@code {

    private bool ShowEditWorkoutModal { get; set; }

    protected override void OnInitialized()
    {
        WorkoutStore.OnWorkoutStoreStateChanged += HandleWorkoutChangedEvent;
    }

    private void HandleWorkoutChangedEvent()
    {
        StateHasChanged();
    }

    private void HandleOnEditClick(Workout workout)
    {
        WorkoutStore.SelectedWorkout = workout;
        ShowEditWorkoutModal = true;
    }

}