@using BlazorComponentUtilities
@using NoBullshitTimer.Client.Components
<button class="@ClassToRender" @attributes="AdditionalAttributes" disabled="@(ButtonType == ButtonType.Disabled)">
    @ChildContent
</button>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; }

    [Parameter] public string Classes { get; set; } = "";

    [Parameter] public ButtonType ButtonType { get; set; } = ButtonType.Primary;

    private string ClassToRender { get; set; } = "";

    protected override void OnParametersSet()
    {
        ClassToRender = new CssBuilder(Classes)
            .AddClass("p-2 m-2 rounded-md")
            .AddClass("bg-red-900 hover:bg-red-700", ButtonType == ButtonType.Primary)
            .AddClass("bg-zinc-800 hover:bg-zinc-500", ButtonType == ButtonType.Secondary)
            .AddClass("bg-zinc-800 text-gray-400", ButtonType == ButtonType.Disabled)
            .Build();
    }


}
