@using NoBullshitTimer.Client.Components
@using NoBullshitTimer.Client.Framework
@using NoBullshitTimer.Client.Framework.Components

<h2 class="text-xl">Select Voicepack</h2>
<Dropdown
    TValue="string"
    Items="@Voicepacks"
    SelectedItemChanged="OnVoicePackChanged">
</Dropdown>

@code {

    [Parameter] public AudioPlayer? AudioPlayer { get; set; }

    private List<DropdownItem<string>> Voicepacks { get; } = new()
    {
        new DropdownItem<string>("Default", "default"),
        new DropdownItem<string>("Sven", "sven")
    };

    private async Task OnVoicePackChanged(string newValue)
    {
        if (AudioPlayer != null)
            AudioPlayer.VoicePack = newValue;
    }
}
